<footer class="footer" id="aboutus">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>MOI.<span>Book</span></h2>
        <p>MOI.Book - Institut haqida batafsil ma'lumotlar, tarixi va maqsadlari.</p>
        <a href="https://ipkmvd.uz" target="_blank">Institut saytiga havola</a>
      </div>
      <div class="footer-section links">
        <h3>Asosiy linklar</h3>
        <ul>
          <li><a href="javascript: void()"
              [routerLink]="['/']">Bosh safiha</a></li>
          <li><a href="javascript: void()" (click)="jumpTo('books')">Kitoblar</a></li>
          <li><a href="javascript: void()"
              (click)="jumpTo('categories')">Kategoriyalar</a></li>
          <!-- <li><a href="javascript: void()"
              (click)="jumpTo('wishlist')">Wishlist</a></li> -->
          <li><a href="javascript: void()"
              (click)="jumpTo('about')">Biz haqimizda</a></li>
          <li><a href="javascript: void()"
              (click)="showReportInfo()">Xatolik bormi?</a></li>
        </ul>
      </div>
      <div class="footer-section social-media">
        <h3>Ijtimoiy tarmoqlar</h3>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 MOI.Book | Barcha huquqlar himoyalangan</p>
    </div>
  </div>
</footer>
